body {
  font-family: "Gochi Hand";
  padding: 30px 0px 0px 0px;
  background: linear-gradient(to top, #9890e3 0%, #badbc9 75%) fixed;
}

h1 {
  text-align: center;
  border: solid 3px #132743;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  padding: 30px 0px 0px 0px;
  position: relative;
  top: 100px;
  left: 90px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/022/091/original/background3.jpg?1638638762");
  font-family: "Gochi Hand";
  color: #132743;
  text-decoration: none;
}

h2 {
  color: #132743;
  width: 350px;
  text-align: center;
  padding-bottom: 5px;
  position: relative;
  bottom: 80px;
  left: 70px;
  font-family: "Gochi Hand";
  font-size: 20px;
  font-weight: 17px;
}

form {
  text-align: center;
  margin-top: 0px;
  font-family: "Gochi Hand";
  color: #132743;
  position: relative;
  bottom: 15px;
  font-size: 15px;
}

.wrapper {
  max-width: 600px;
  border: solid 2px #132743;
  border-radius: 5px;
  width: 768px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 10px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/022/091/original/background3.jpg?1638638762");
  background-size: cover;
}

.outside-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.big-circle {
  max-width: 600px;
  text-align: center;
  display: block;
  margin: 0 auto;
  border: solid 3px #132743;
  border-radius: 50%;
  height: 480px;
  width: 480px;
  background: linear-gradient(to top, #9890e3 20%, #badbc9 50%);
}

.img-actual-weather {
  position: relative;
  top: 23px;
}

.border-actual-img {
  border: solid 3px #132743;
  border-radius: 50%;
  height: 190px;
  width: 190px;
  position: relative;
  left: 205px;
  bottom: 90px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/022/091/original/background3.jpg?1638638762");
}

.actual-temp {
  position: relative;
  right: 30px;
  bottom: 20px;
  border-radius: 3%;
}

.actual-humwin {
  color: #132743;
  border: solid 2px #132743;
  background-color: #badbc9;
  border-radius: 3%;
  width: 350px;
  text-align: center;
  position: relative;
  left: 70px;
  bottom: 85px;
  font-family: "Gochi Hand";
}

.actual-humwin p {
  margin-bottom: 1px;
  font-size: 18px;
  font-family: "Gochi Hand";
  background-color: #badbc9;
}

.dateTime {
  color: #132743;
  border: solid 2px #132743;
  background-color: #badbc9;
  border-radius: 3%;
  width: 280px;
  text-align: center;
  margin-top: 3px;
  position: relative;
  left: 98px;
  bottom: 85px;
  font-size: 20px;
  font-family: "Gochi Hand";
}

.temp-scale {
  text-align: center;
  position: relative;
  bottom: 40px;
  font-family: "Gochi Hand";
  font-size: 18px;
  text-decoration: none;
}

.message {
  color: #132743;
  position: relative;
  bottom: 30px;
  margin: 0;
  font-family: "Gochi Hand", cursive;
  font-size: 30px;
}

.active {
  color: #132743;
  cursor: default;
  text-decoration: none;
  font-weight: bold;
}

.active:hover {
  text-decoration: none;
}

.fahrenheit {
  color: #132743;
  cursor: default;
  text-decoration: none;
}

.first-image {
  display: block;
  margin: 0 auto;
}

.borderImg {
  border-radius: 50%;
  border: solid 3px #132743;
  height: 90px;
  width: 90px;
  padding-top: 5px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/022/091/original/background3.jpg?1638638762");
}

.footer {
  padding: 20px 0px 0px 5px;
}

.sourceLink {
  max-width: 600px;
  text-align: center;
  color: #b1f4cf;
  padding-top: 10px;
  font-size: 12px;
  margin: 0 auto;
  display: block;
}

.bottomlink {
  color: #132743;
  text-decoration: none;
}

.bottomlink:hover {
  color: #b1f4cf;
  cursor: pointer;
  transition: all 0.5s ease;
}

.nightlight {
  background-repeat: no-repeat;
}

.dayLight {
  background-repeat: no-repeat;
  background-size: cover;
}

.weather-forecast {
  color: #132743;
  font-family: "Gochi Hand";
}

#celsius {
  cursor: default;
  transition: 150ms ease-in-out;
}

#fahrenheit {
  cursor: default;
  transition: 150ms ease-in-out;
}

#celsius:hover {
  font-weight: bold;
  cursor: pointer;
}

#fahrenheit:hover {
  font-weight: bold;
  cursor: pointer;
}

#temp {
  font-weight: 400;
  font-size: 40px;
  color: #132743;
  font-family: "Gochi Hand";
}
